<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Spring Boot Thymeleaf Example</h1>
    <p th:text="${message}"></p>
    <p>Current time: <span th:text="${time}"></span></p>
    <p>Current date: <span th:text="${date}"></span></p>
    <p>Current date time: <span th:text="${dateTime}"></span></p>
    <p>Current date time: <span th:text="${dateTime2}"></span></p>
    <p>Current date time: <span th:text="${dateTime3}"></span></p>

</body>
</html>